body {
  font-family: Arial, sans-serif;
}

.view-details {
  border-radius: 8px;
  padding: 16px;
  background-color: #172727;
  margin-bottom: 10px;
}

.view-details p {
  margin: 8px 0;
  color: #eeeeee;
}

.com-speech-bubble {
  height: 25px;
  max-width: 25px;
  margin-right: 10px;
  margin-left: 2px;
  /* margin-bottom: 5px; */
}

.cook-details {
  margin-bottom: 50px;
}

.comments-section {
  border-radius: 8px;
  /* padding: 8px; */
  margin-top: 16px;
  background-color: #172727;
}

.cook-images-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cook-image-detail-large {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid #bfbfbf;
}

.edit-form {
  margin: 20px auto;
  max-width: 600px;
}

.edit-form .form-group {
  margin-bottom: 15px;
}

.edit-form input.form-control,
.edit-form select.form-control,
.edit-form textarea.form-control {
  width: 100%;
  color: #172727;
  background: #eeeeee;
}

textarea.form-control {
  min-height: 100px; /* Initial height */
  resize: vertical; /* Allow vertical resizing */
}

.edit-form .btn {
  /* margin: 5px; */
  color: #eeeeee;
  background-color: #2f4f4f;
}

.container-fluid .btn {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  color: #eeeeee;
  background-color: #2f4f4f;
}

.btn {
  margin-top: 0.5rem;
  color: #eeeeee;
  background-color: #2f4f4f;
  width: 100%;
}

.card {
  margin: auto;
  margin-bottom: 10px;
  max-width: 600px;
  padding: 20px;
  background-color: #172727;
  border: 1px solid #172727;
}

/* .card-body {
  background-color: #172727;
  border: 1px solid #172727;
} */

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.speech-bubble {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.comment-title {
  color: #eeeeee;
  margin: 0;
}

.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.comment-user {
  display: flex;
  align-items: center;
}

.comment-user strong {
  margin-left: 10px;
  color: #eeeeee;
}

.comment-text {
  margin-left: 40px; /* Aligns the text with the username */
  color: #eeeeee;
}

.com-profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.com-profile-icon {
  width: 30px;
  height: 30px;
}

.comments-section {
  border-radius: 8px;
  margin-top: 16px;
  background-color: #172727;
  /* padding: 16px; */
}

.d-flex.flex-wrap.justify-content-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-preview {
  position: relative;
  width: calc(50% - 10px); /* Two columns with a gap */
  margin: 5px;
}

.image-preview img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  /* background-color: red; */
  color: #eeeeee;
  border: none;
  border-radius: 50%;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #2f4f4f;
  color: #eeeeee;
  cursor: not-allowed;
}
