body {
  font-family: Arial, sans-serif;
}

.view-details {
  border-radius: 8px;
  padding: 16px;
  background-color: #172727;
  margin-bottom: 10px;
}

.view-details p {
  margin: 8px 0;
  color: #fff;
}

.speech-bubble {
  height: 25px;
  max-width: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.cook-details {
  margin-bottom: 50px;
}

.comments-section {
  border-radius: 8px;
  /* padding: 8px; */
  margin-top: 16px;
  background-color: #172727;
}

.cook-images-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cook-image-detail-large {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid #bfbfbf;
}

.edit-form {
  margin: 20px auto;
  max-width: 600px;
}

.edit-form .form-group {
  margin-bottom: 15px;
}

.edit-form input.form-control,
.edit-form select.form-control,
.edit-form textarea.form-control {
  width: 100%;
}

.image-preview {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.image-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.edit-form .btn {
  margin: 5px;
  color: #eeeeee;
  background-color: #2f4f4f;
}

.container-fluid .btn {
  margin-top: .5rem;
  margin-right: .5rem;
  color: #eeeeee;
  background-color: #2f4f4f;
}

.btn {
  margin-top: .5rem;
  color: #eeeeee;
  background-color: #2f4f4f;
}

.card {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #172727;
  border: 1px solid #172727;
}

/* .card-body {
  background-color: #172727;
  border: 1px solid #172727;
} */
