.view-details {
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  padding: 16px;
  background-color: #172727;
  margin-bottom: 10px;
}

.view-details p {
  margin: 8px 0;
}

.speech-bubble {
  height: 25px;
  max-width: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #bfbfbf;
}

.cook-details {
  margin-bottom: 50px;
}

.comments-section {
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  padding: 8px;
  margin-top: 16px;
  margin-bottom: 8px;
  background-color: #172727;
  margin-bottom: 10px;
}

.cook-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.cook-image-detail-large {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 4px;
  border: 1px solid #bfbfbf;
}