body {
  font-family: Arial, sans-serif;
}

.view-details {
  border-radius: 8px;
  padding: 16px;
  background-color: #172727;
  margin-bottom: 10px;
}

.view-details label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

.view-details input,
.view-details select,
.view-details textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #eeeeee;
}

.view-details .form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.view-details .custom-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.view-details .btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  color: #eeeeee;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* .view-details .btn-primary {
    background-color: #007bff;
  }
  
  .view-details .btn-primary:hover {
    background-color: #0056b3;
  } */

/* .view-details .btn-success {
    background-color: #28a745;
  }
  
  .view-details .btn-success:hover {
    background-color: #218838;
  } */

.view-details .text-center {
  text-align: center;
}

.view-details .image-preview {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.view-details .image-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

@media (max-width: 576px) {
  .view-details input,
  .view-details select,
  .view-details textarea {
    font-size: 14px;
  }

  .view-details .btn {
    width: 100%;
    margin: 5px 0;
  }
}
