.text-center {
  text-align: center;
  margin-top: 20px;
}

.new-btn-primary {
  background-color: #172727;
  color: #eeeeee;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* .btn-primary:hover {
  background-color: #0056b3;
} */
