.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #172727;
  display: flex;
  justify-content: center; /* Center the container */
  padding: 15px 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  /* border-top: 1px solid #172727; */
  margin-top: 10px;
  box-sizing: border-box;
  z-index: 1000; /* Ensure the navbar is above other content */
}

.nav > div {
  display: flex;
  justify-content: space-around; /* Evenly space links within the container */
  width: 100%; /* Make the inner div take full width */
}

.navLink {
  flex: 1; /* Each link will take up equal space */
  text-align: center; /* Center text horizontally within each flex item */
  color: #eeeeee;
  text-decoration: none;
  font-size: 16px;
}

.navLink:hover {
  color: #eeeeee;
}

.nav-profile-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.nav-profile-icon {
  width: 25px;
  height: 25px;
}
